<div class="container">
  <h1><%= @list.name %></h1>



  <div>
    <% @list.movies.each do |movie|  %>
      <div class="card-movie">
        <h2><%= movie.title %></h2>
        <p><%= movie.overview %></p>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <p><%=  bookmark.comment%></p>
      </div>
    <% end %>
  </div


  <div class="cards-container d-flex justify-content-center">
    <% @lists.each do |list|  %>
      <%= link_to list_path(list) do  %>
        <div class="card-category" >
         <p>
           <%= list.name %>
         </p>
        </div>
      <% end %>
    <% end %>
  </div>



  <%#= link_to list_path(@list), { class: "btn btn-primary" } do %>
    <%#= @list.name %>
    <%#= <span class="label label-primary">OPEN</span> %>
  <%# end %>

  <p>
    <%= link_to "Add bookmark", new_list_bookmark_path(@list) %>
  </p>

  <p>
    <%= link_to "Back to lists", lists_path  %>
  </p>

</div>
